doctype html
html
    head
        link(rel='stylesheet', href='styles.css', type='text/css' )
        script(src='vendor/jquery/dist/jquery.js')

        script(src='script.js')
    body
        h1 Playground
